{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-body">
            <div class="d-flex justify-content-between">
                <h5>Car #{{car.id}}</h5>
                <a href="{% url 'cars' %}">Show all cars</a>
                <div>
                    <a class='btn btn-sm btn-primary ml-2' href="{% url 'car-update' car.id %}">Edit</a>
                    <a class='btn btn-sm btn-danger ml-2' href="{% url 'car-delete' car.id %}">Delete</a>
                </div>
            </div>
        </div>
        <div class="card card-body">
            {% include 'rental/car_attributes.html' %}
        </div>
    </div>
</div>

{% endblock %}
